<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
    <hibernate-configuration>
    	<session-factory>
    	
    	<!-- JDBC Connection setting -->
    	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql://localhost:3306/schooladmin?serverTimezone=UTC</property>
    	<property name="connection.username">root</property>
    	<property name="connection.password"></property>
    	
    	<!-- Select SQL Dialect -->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	
    	<!-- Set the current session context -->
   		<property name="current_session_context_class">thread</property>
   		
   		<!-- Print the SQL to console -->
   		<property name="show_sql">true</property>
   		
   		<!-- JDBC Connection pool settings to be used -->
   		<property name="connection.pool_size">1</property>
   		
   		
   		
    	</session-factory>
    
    </hibernate-configuration>
    